<div class="columns is-centered">
  <div class="column is-half">

    <% @posts.each do |post| %>

    <div class="box mt-5">
      <div class="content">
        <h1 class='title is-h1'><%= post.title %></h1>
          <% if user_signed_in? %>
            <strong><small>Author:</small> <%= post.user.username %></strong>
          <% end %>
        <article class='post'><%= post.body %></article>
        <nav class="level">
          <div class="level-left">
            <% if user_signed_in? && current_user == post.user %>
              <%= link_to edit_post_path(post) do %>
              <span class="icon"><i class="fa fa-pencil"></i></span>
            <% end %>
              <%= link_to post, method: :delete do %>
              <span class="icon"><i class="fa fa-trash-o"></i></span>
              <% end %>
            <% end %>
          </div>
          <div class="level-right">
            <p>Posted <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</p>
          </div>
        </nav>
      </div>
    </div>

    <% end %>

  </div>
</div>