<!DOCTYPE html>
<html>

<head>
  <title>MembersOnly</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="navbar has-background-link-light">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="title is-h1"><%= link_to 'Members only', posts_path %></h1>
      </div>
    </div>
    <span></span>
    <span></span>
    <span></span>
    <div class="navbar-end">

      <div class="navbar-item">
        <% if user_signed_in? %>
        <button class='button is-primary is-inverted'><%= link_to 'New Post', new_post_path %></button>
        <% end %>
      </div>

      <div class="navbar-item">
        <% if user_signed_in? %>
        <h5 class="title is-5"><%= link_to current_user.username, edit_user_registration_path %></h5>
        <% else %>
        <h5 class="title is-5"><%= link_to 'Home', posts_path %></h5>
        <% end %>

      </div>
      <div class="navbar-item">
        <% if user_signed_in? %>
        <h5 class="title is-5"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></h5>
        <% else %>
        <h5 class="title is-5"><%= link_to 'Sign In', user_session_path %></h5>
        <% end %>
      </div>

    </div>
  </div>

<% if flash[:notice] %>
  <div class="notification has-background-primary-light">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="notification has-background-danger-light">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>

<%= yield %>
</body>

</html>